.textPart{
    text-align: center;
}
.about-mnnit{
    background: #00bf8f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #001510, #00bf8f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #001510, #00bf8f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width:80% ;
    margin: auto;
    text-align: center;
}
.about-mnnit h4 {
    font-size: 30px;
    font-weight: bold;

}
.about-mnnit hr{
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}
.about-mnnit p{
    color: white;
    font-size: 20px;
    padding: 1em;
}